<div id="footer" class="navbar navbar-light my-auto">
    <div class="container-fluid">
        <div class="row w-100 justify-content-center">
            <p class="text-warning">TP-Synthese</p>
        </div>
        <div class="row w-100 justify-content-center">
            <p class="text-warning">420-345-AL</p>
        </div>
        <div class="row w-100 justify-content-center">
            <ul class="list-inline">
                <li class="list-inline-item"><a class="text-warning" [routerLink]="['/home']">Home</a></li>
                <li class="list-inline-item mx-5"><a class="text-warning" href="https://github.com/FrostDistrict/PortfolioV1">Github</a></li>
                <li class="list-inline-item"><a class="text-warning" [routerLink]="['/contact']">Contact</a></li>
            </ul>
        </div>
        <div class="row w-100 justify-content-center"><p class="text-warning">&copy;2020 Copyright Made With <i class="fas fa-heart text-danger"></i>
            By Jordan Scott</p></div>
    </div>
</div>