#form-container {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    width: 40%;
    float: left;
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: white;
}
input.ng-invalid.ng-touched {
    border-left: 5px solid red;
}