<img src="assets/img/voiture.jpg" style="display: none;">
<img src="assets/img/bateau.jpg" style="display: none;">
<img src="assets/img/avion.jpg" style="display: none;">
<div id="form-container" class="d-flex" [ngStyle]="changeBackground()">
    <form [formGroup]="vehiculeForm" (ngSubmit)="updateUser()" class="container p-5 my-5">
        <h2 class="text-white">Modifier un vehicule!</h2>

        <div *ngIf="(validMessage != '')">
            <h3 class="has-info">{{validMessage}}</h3>
        </div>

        <div class="form-group">
            <label for="id">Immatriculation*</label>
            <input id="id" data-toggle="tooltip" title="Combination de 5 a 7 chiffre ou lettre" formControlName="id" class="form-control"/>
        </div>

        <p>Type du vehicule*</p>
        <div class="form-group">
            <div class="form-check">
                <input id="voiture" disabled type="radio" class="form-check-input" value="voiture"
                    name="type" formControlName="type" [(ngModel)]="vehicule.type">
                <label class="form-check-label" for="voiture">Voiture</label>
            </div>
            <div class="form-check">
                <input id="avion" disabled type="radio" class="form-check-input" value="avion"
                    name="type" formControlName="type" [(ngModel)]="vehicule.type">
                <label class="form-check-label" for="avion">Avion</label>
            </div>
            <div class="form-check">
                <input id="bateau" disabled type="radio" class="form-check-input" value="bateau"
                    name="type" formControlName="type" [(ngModel)]="vehicule.type">
                <label class="form-check-label" for="bateau">Bateau</label>
            </div>
        </div>

        <div class="form-group">
            <label for="fabricant">Nom du fabricant*</label>
            <input id="fabricant" [(ngModel)]="vehicule.fabricant" formControlName="fabricant" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="model">Nom du model*</label>
            <input id="model" [(ngModel)]="vehicule.model" formControlName="model" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="annee">Année du vehicule*</label>
            <input id="annee" [(ngModel)]="vehicule.annee" formControlName="annee" class="form-control"/>
        </div>


        <div *ngIf="vehiculeForm.value.type == ('voiture')" formGroupName="voitureForm">
            <div class="form-group">
                <label for="couleur">Couleur</label>
                <input id="couleur" [(ngModel)]="vehicule.voitureForm.couleur" type="color" formControlName="couleur" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="kilometrage">Kilometrage</label>
                <input id="kilometrage" [(ngModel)]="vehicule.voitureForm.kilometrage" type="number" formControlName="kilometrage" class="form-control"/>
            </div>

            <p>Transmission</p>
            <div class="form-group">
                <div class="form-check">
                    <input id="manuel" [(ngModel)]="vehicule.voitureForm.transmission" type="radio" class="form-check-input" value="manuel"
                        name="transmission" formControlName="transmission">
                    <label class="form-check-label" for="manuel">Manuel</label>
                </div>
                <div class="form-check">
                    <input id="automatique" [(ngModel)]="vehicule.voitureForm.transmission" type="radio" class="form-check-input" value="automatique"
                        name="transmission" formControlName="transmission">
                    <label class="form-check-label" for="automatique">Automatique</label>
                </div>
            </div>

            <p>Mode de propulsion</p>
            <div class="form-group">
                <select name="modePropulsion" [(ngModel)]="vehicule.voitureForm.modePropulsion" id="modePropulsion" class="form-control" formControlName="modePropulsion">
                    <option value="propulsion arriere">Propulsion arrière</option>
                    <option value="traction avant">Traction avant</option>
                    <option value="quatreRoue">Quatre roue motrice</option>
                </select>
            </div>


        </div>

        <div *ngIf="vehiculeForm.value.type == ('avion')" formGroupName="avionForm">
            
            <p>Mode de propulsion</p>
            <div class="form-group">
                <select name="modePropulsion" [(ngModel)]="vehicule.avionForm.modePropulsion" id="modePropulsion" class="form-control" formControlName="modePropulsion">
                    <option value="helice">Propulsion par hèlice</option>
                    <option value="jet">Propulsion par turboréacteur</option>
                </select>
            </div>

            <div class="form-group">
                <label for="capacite">Capacité</label>
                <input id="capacite" [(ngModel)]="vehicule.avionForm.capacite" type="number" formControlName="capacite" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="tempsUsage">Heures d'usage</label>
                <input id="tempsUsage" [(ngModel)]="vehicule.avionForm.tempsUsage" type="number" formControlName="tempsUsage" class="form-control"/>
            </div>
        </div>

        <div *ngIf="vehiculeForm.value.type == ('bateau')" formGroupName="bateauForm">
            
            <div class="form-group">
                <label for="couleur">Couleur</label>
                <input id="couleur" [(ngModel)]="vehicule.bateauForm.couleur" type="color" formControlName="couleur" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="tempsUsage">Heures d'usage</label>
                <input id="tempsUsage" [(ngModel)]="vehicule.bateauForm.tempsUsage" type="number" formControlName="tempsUsage" class="form-control"/>
            </div>

        </div>

        <button type="submit" class="btn btn-primary">Modifier</button>
        <a [routerLink]="['/crud']" id="cancel" class="btn btn-secondary">Cancel</a>
    </form>
</div>