<div id="main" class="container-fluid" [ngStyle]="{'background-image': 'url(assets/img/pug.jpg)'}">
    <div class="container-fluid">
        <div class="row justify-content-center"><h1 class="display-1 text-warning">Projet Final Angular</h1></div>
        <div class="row justify-content-center"><i class="fab fa-angular fa-10x text-warning"></i></div>
        <div class="row justify-content-around pb-5">
            <div class="boxoftext col-sm-2 border border-warning rounded">
                <h2 class="mt-2 text-warning">Angular :</h2>
                <p>Développé par Google, Angular est un Framework open source écrit en JavaScript qui permet la création d’applications Web et plus particulièrement de ce qu’on appelle des  « Single Page Applications » : des applications web accessibles via une page web unique qui permet de fluidifier l’expérience utilisateur et d’éviter les chargements de pages à chaque nouvelle action.</p>
            </div>
            <div class="boxoftext col-sm-2 border border-warning rounded">
                <h2 class="mt-2 text-warning">Notions :</h2>
                <ul>
                    <li>La librairie Bootstrap</li>
                    <li>La librairie Font Awesome</li>
                    <li>La notion de sensibilité de l'interface (RESPONSIVE)</li>
                    <li>La notion de barre de navigation et pied de page</li>
                    <li>Le modèle de programmation C.R.U.D.</li>
                    <li>La Framework Angular.</li>
                    <li>L’interaction avec une base de données.</li>
                    <li>La notion de REST webservice.</li>
                </ul>
            </div>
            <div class="boxoftext col-2 border border-warning rounded">
                <h2 class="mt-2 text-warning">Hello World!</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, doloremque pariatur impedit modi odio sunt laborum! Hic, possimus harum necessitatibus fuga alias odio enim, aliquid maiores veritatis eaque quasi, perspiciatis aut? Voluptatum sapiente praesentium, pariatur esse amet aliquam aperiam ullam voluptatem suscipit obcaecati, sequi perspiciatis ex illum incidunt debitis enim? Veritatis laudantium necessitatibus sunt cum?</p>
            </div>
        </div>
    </div>
</div>